<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>昆虫分析</title>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
    <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
</head>
<body>
<div class="layui-fluid">

    <div class="layui-row">
        <div class="layui-col-xs6">
          <div class="grid-demo grid-demo-bg1">
              <!-- 图片上传-->
                <div class="layui-form-item" >
                    <label for="name" class="layui-form-label">
                        <span class="x-red">*</span>图片</label>
                    <div class="layui-input-inline">
                        <div class="layui-upload-drag" id="test10">
                          <i class="layui-icon"></i>
                          <p>点击上传，或将文件拖拽到此处</p>
                          <div class="layui-hide" id="uploadDemoView">
                                <hr>
                                <img src="" alt="上传成功后渲染" style="max-width: 196px">
                                <input type="hidden" id="imgurl">
                          </div>
                        </div>
                    </div>
                </div>
          </div>
        </div>
        <div class="layui-col-xs6">
          <divshi class="grid-demo">
                <div class="layui-form-item">
                    <label for="name" class="layui-form-label">
                        <span class="x-red">*</span>昆虫名</label>
                    <div class="layui-input-inline" style="width: 400px">
                        <input type="text" id="name"  >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="similar" class="layui-form-label">
                        <span class="x-red">*</span>准确度</label>
                    <div class="layui-input-inline" style="width: 400px">
                        <input type="text" id="similar"  >
                    </div>
                </div>
                <div class="layui-card-body ">
                        <ul id="showmu" class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                            <li class='layui-col-md12 layui-col-xs6'>
                                <a class='x-admin-backlog-body'>
                                    <p id="content" style='inline-size: auto'></p>
                                </a>
                            </li>
                        </ul>
                </div>
          </divshi>
        </div>

        <div class="layui-form-item" style="text-align: center">
              <button class="layui-btn" id="check" >智能判断</button>
        </div>
    </div>
</div>

<script>
layui.use('layer', function(){

    var $ = layui.$ //由于layer弹层依赖jQuery，所以可以直接得到
    ,layer = layui.layer;

    $("#check").click(function () {

        $.ajax({
                url: "/animal",
                type: "POST",
                data: {"imgurl": $("#imgurl").val()},
                dataType: "json",
                async: true,
                success: function (data) {

                    var name=data.name;
                    var similar=data.similar;


                    $("#name").val(name);
                    $("#similar").val(similar);


                    $.ajax({
                        url: '/get_insect_byname',
                        type: "POST",
                        data:{"name":name},
                        dataType: "JSON",
                        async: false,
                        cache: false,
                        success:function (data) {

                            var text="";
                            text+="<h4>防治措施</h4>"+
                                    "<p>"+data[0].danger+"</p>";
                            $("#content").html(text);
                        },
                        error:function(){
                            alert("出现错误");
                        }
                    });




                },
                error: function (e) {
                    alert("出现错误！！");
                }
            });


    })

});

layui.use('upload', function(){
  var $ = layui.jquery
  ,upload = layui.upload;


    //拖拽上传
    upload.render({
        elem: '#test10'
        , url: '/facephotoupload' //改成您自己的上传接口
        ,size:10240
        , done: function (res) {
            // layer.msg(res.data.src);
            $("#imgurl").val(res.data.src);
            layui.$('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', res.data.src);
            console.log(res)
        }
    });


});



</script>
</body>
</html>