<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- 使用移动端 -->
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <!-- 加载网络图片 -->
        <meta name="referrer" content="no-referrer">

        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
       <script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=XMvUnX4k9m62hGvcvzBkCkwN8WeOrhs4"></script>

        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <style>
        #milkMap{height:1000px;width:1200px;border:1px solid blue;}
    </style>

<body>
<input type="hidden" id="cname1">
<input type="hidden" id="cname2">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <blockquote class="layui-elem-quote" style="text-align: center;font-size: 25px">
                            林业有害昆虫全景图
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">有害昆虫统计</div>
                    <div class="layui-card-body ">
                        <ul id="mu" class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                            
                        </ul>
                    </div>
                </div>
            </div>

            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">可视化昆虫分布区域</div>
                    <div class="layui-card-body ">
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <iframe src='/test' style="width: 1200px;height: 600px" frameborder="0"  scrolling="yes" class="x-iframe"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
<script>

    layui.use(['form', 'layer'], function() {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;


        sum_insect();
    });


    function show_mu(mu) {
        parent.xadmin.add_tab(mu,'/show_mu/'+mu,true);
    }

    function sum_insect()
    {
        $.ajax({
            url: '/kind_insect',
            type: "POST",
            dataType: "JSON",
            async: false,
            cache: false,
            success:function (data) {

                var test="";
                for(var i=0;i<data.length;i++)
                {
                    var num=data[i].num;
                    var mu=data[i].mu;
                    test+=
                    "<li class='layui-col-md2 layui-col-xs6'>" +
                    "                                <a onclick=\"show_mu('" + mu+ "')\" class='x-admin-backlog-body'>" +
                    "                                    <h3>"+mu+"</h3>" +
                    "                                    <p>" +
                    "                                        <cite>"+num+"</cite>" +
                    "                                    </p>" +
                    "                                </a>" +
                    "                            </li>";
                }
                $("#mu").html(test);

            },
            error:function(){
                alert("出现错误");
            }
        });

    }



</script>
</body>
</html>